@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
//Primary
//Text
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
//Background gradient
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

//Neutral
//Text
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
//Dividers
$light-grayish-blue: hsl(240, 5%, 91%);


.attribution { font-size: 11px; text-align: center;margin-bottom: 5px;color: $light-grayish-blue }
.attribution a { color: $soft-red; }

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient($soft-violet, $soft-blue);
    font-family: 'Kumbh Sans';
}
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 275px;
    padding: 25px;
    margin-top: 120px;
    background-color: white;
    border-radius: 20px;
    .illustration {
        margin-top: -153px;
        padding: 20px;
        filter: drop-shadow(0px 30px 0px hsla(200, 0%, 91%, 0.86));
    }
    h1 {
        text-align: center;
        color: $very-dark-desaturated-blue;
    }
    p, h2 {
        font-size: 12px;
        font-weight: 400;
        color: $dark-grayish-blue;
    }
    p {
        display: none;
    }
    hr {
        border-color: $light-grayish-blue;
        opacity: 0.3;
    }
    .question div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 10px;
            height: 7px;
        }
    }
}
