@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$breakpoints: (
    "phone-down": 500px,
    "tablet-up": 768px,
    "tablet-down": 900px,
    "desktop-up": 1024px,
    "desktop-down": 1280px,
    "widescreen-up": 1440px
);
@mixin media-min($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
        &{ @content; }
    }
}
//Primary
//Text
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
//Background gradient
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

//Neutral
//Text
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
//Dividers
$light-grayish-blue: hsl(240, 5%, 91%);


.attribution { font-size: 11px; text-align: center;margin-bottom: 5px;color: $light-grayish-blue }
.attribution a { color: $soft-red; }

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: fixed no-repeat linear-gradient($soft-violet, $soft-blue);
    font-family: 'Kumbh Sans';
}
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin-top: 150px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    @include media-min('tablet-down') {
        width: 600px;
        height: 370px;
        margin: 0;
        flex-wrap: wrap;
        align-items: flex-start;
        overflow: hidden;
        background-image: url('./images/bg-pattern-desktop.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom -140px left -350px;
        justify-content: center;
    }
    .illustration-mobile {
        margin-top: -130px;
        filter: drop-shadow(0px 30px 0px rgba(192, 175, 255, 0.171));
        width: 230px;
        @include media-min("tablet-down") {
            display: none;
        }
    }
    .illustration-desktop {
        display: none;
        @include media-min('tablet-down') {
            display: block;
            width: 350px;
            margin-top: 90px;
            margin-left: -80px;
        }
    }
    h1 {
        text-align: center;
        color: $very-dark-desaturated-blue;
        margin-top: 40px;
        margin-bottom: 20px;
        @include media-min('tablet-down') {
            margin-top: 20px;
        }
    }
    h2 {
        margin: 15px 0;
        color: $very-dark-grayish-blue;
        font-size: 12px;
        font-weight: 400;
    }
    p {
        font-size: 12px;
        font-weight: 400;
        color: $dark-grayish-blue;
        display: none;
        margin-top: -5px;
        margin-bottom: 15px;
    }
    hr {
        border-color: $light-grayish-blue;
        opacity: 0.3;
    }
    .question {
        width: 100%;
        &:hover {
            cursor: pointer;
        }
        @include media-min('tablet-down') {
            width: 45%;
        }
    }
    .question div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 10px;
            height: 7px;
        }
    }
    .active {
        div img {
            -webkit-transform:rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        h2 {
            font-weight: 700;
        }
        p {
            display: block;
        }
    }
}
